.wrapper{
    width: 80%;
    margin: 0 auto;
}
.image_wrapper{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.title{
    margin-top: 50px;
    font-size: 16px;
    line-height: 30px;
}

.form_wrapper{
    margin-top: 30px;
}


.form{
    display: grid;
    row-gap: 20px;
}

.btn_wrapper{
    margin-top: 30px;
}