.background{
    background-color: rgb(223, 196, 220) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 390px;
    height: 800px;
    border-radius: 5px;
    background-color: #f1f3f5;
    color: rgba(24, 24, 24, 1);
}
